.navbar-default{
    background:#003F72;
}

.navbar-default .navbar-collapse ul li a{
    color: white;
    padding-top: 20px;
}

.navbar-default .navbar-collapse ul li a:hover{
    color: white;
    display: block;
    background: #003F51;
}

.background{
    min-height: 550px;
    background: url("images/background.png");
    background-attachment: fixed;
    margin-bottom: 0px;
}

.background h2{
    margin-top: 100px;
    color: white;
}

.background .heading-text{
    color: white;
}

.flask{
    background-color: #d4d4d4;
    padding-bottom: 15px;
}

.error {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}